<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.0/skins/default/aliplayer-min.css">
</head>
<body style="background-color: #000000;">
<div>aaaaaaaaaaa!!</div>
<div  class="prism-player" id="player-wrap"></div>
<script src="https://g.alicdn.com/de/prismplayer/2.8.0/aliplayer-h5-min.js"></script>
<script>
    new Aliplayer({
        id: 'player-wrap',
        width: '1200px',
        height: '675px',
        autoplay: false,
        // vid: this.videoId,
        // playauth: data,
        // cover: this.cover,
    });
</script>
</body>
</html>